/*Menu Horizontal - 25/10/21*/

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 720px;
    background: #159cb0 url("../imagens/fundo-horizontal.png") repeat-x;
    float: left;
}
ul li {
    float: left;
}

ul a{
    display: block;
    padding: 0 2em;
    line-height: 2em;
    text-decoration: none;
    color: white;
    background: url("../imagens/divisor.png") repeat-y;
    
}

ul .primeiro a{
    background: none;
}

ul a:hover{
    color: #085662;
    background: #44cade;
}

#home .home, #sobre .sobre, #serviços .serviços{
    color: #085662;
    background: #44cade;
}