body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#container{
    width: 720px;
    margin: 0px;
    background: #fff;
    
}

#marca{
    height: 100px;
    background: #9e9e9e;
    text-align: center;
    line-height: 100px;
}
#conteudo{
    width: 520px;
    float: right;  
}
#conteudo #principal{
    width: 320px;
    float: left;
    
}
#conteudo #secundario{
    width: 180px;
    float: right;
    background: #d1d1d1;
    
}
#secundario h1,h2,h3,p{
    padding-left: 20px;
    padding-right: 20px;
}

#navegação{
    width: 180px;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #d1d1d1;
    
}
#navegação ul{
    list-style: none;
}
#navegação li a{
    text-decoration: none;
}

#rodape{
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}
